/bin/
.idea/workspace.xml
Simtext.iml
build/
src/.gradle/
.gradle/
src/extracted-include-protos/
gradle/
src/tmp/
src/main/grpc/proto/CommandProtos.java
src/main/java/grpc/proto/CommandProtos.java
